<div id="<%= dom_id m_evento %>">
  <div>
    <strong>Descricao:</strong>
    <%= m_evento.descricao %>
  </div>

  <div>
    <strong>Data inicio:</strong>
    <%= format_datetime(m_evento.data_inicio) %>
  </div>

  <div>
    <strong>Data fim:</strong>
    <%= format_datetime(m_evento.data_fim) %>
  </div>

  <div>
    <strong>G predio:</strong>
    <%= m_evento.g_predio_id %>
  </div>

</div>
