<%= form_with(model: u_tipo_funcao, local: true, class: "panel-card form-card") do |form| %>
  <%= render "shared/form_errors", record: u_tipo_funcao %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", u_tipo_funcao_path(@u_tipo_funcao), class: "secondary-button" if u_tipo_funcao.persisted? %>
    <%= link_to "Cancelar", u_tipos_funcoes_path, class: "secondary-button" unless u_tipo_funcao.persisted? %>
  </div>
<% end %>
