<%= form_with(model: m_tipo_grupo, local: true, class: "panel-card form-card") do |form| %>
  <% if m_tipo_grupo.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(m_tipo_grupo.errors.count, "erro") %> impediram o salvamento:</h2>
      <ul>
        <% m_tipo_grupo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control", data: { controller: "uppercase" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", m_tipo_grupo_path(@m_tipo_grupo), class: "secondary-button" if m_tipo_grupo.persisted? %>
    <%= link_to "Cancelar", m_tipos_grupos_path, class: "secondary-button" unless m_tipo_grupo.persisted? %>
  </div>
<% end %>
