<%= form_with(model: m_tipo_grupo, local: true, class: "panel-card form-card") do |form| %>
  <%= render "shared/form_errors", record: m_tipo_grupo %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control", data: { controller: "uppercase" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", m_tipo_grupo_path(@m_tipo_grupo), class: "secondary-button" if m_tipo_grupo.persisted? %>
    <%= link_to "Cancelar", m_tipos_grupos_path, class: "secondary-button" unless m_tipo_grupo.persisted? %>
  </div>
<% end %>
