<%= form_with(model: g_instrumento, local: true, class: "panel-card form-card") do |form| %>
  <%= render "shared/form_errors", record: g_instrumento %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", g_instrumento_path(@g_instrumento), class: "secondary-button" if g_instrumento.persisted? %>
    <%= link_to "Cancelar", g_instrumentos_path, class: "secondary-button" unless g_instrumento.persisted? %>
  </div>
<% end %>
