<%= form_with(model: m_artista, local: true, class: "panel-card form-card") do |form| %>
  <%= render "shared/form_errors", record: m_artista %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control", data: { controller: "uppercase" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", m_artista_path(@m_artista), class: "secondary-button" if m_artista.persisted? %>
    <%= link_to "Cancelar", m_artistas_path, class: "secondary-button" unless m_artista.persisted? %>
  </div>
<% end %>
