<div id="<%= dom_id g_predio %>">
  <div>
    <strong>Nome fantasia:</strong>
    <%= g_predio.nome_fantasia %>
  </div>

  <div>
    <strong>Cep:</strong>
    <%= g_predio.cep %>
  </div>

  <div>
    <strong>Logradouro:</strong>
    <%= g_predio.logradouro %>
  </div>

  <div>
    <strong>Bairro:</strong>
    <%= g_predio.bairro %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= g_predio.g_entidade_id %>
  </div>

</div>
