<div id="<%= dom_id u_permissao %>">
  <div>
    <strong>Descricao:</strong>
    <%= u_permissao.descricao %>
  </div>

  <div>
    <strong>Controlador:</strong>
    <%= u_permissao.controlador %>
  </div>

  <div>
    <strong>Acao:</strong>
    <%= u_permissao.acao %>
  </div>

  <div>
    <strong>Admin:</strong>
    <%= u_permissao.admin %>
  </div>

</div>
