<%= form_with(model: u_perfil, local: true, class: "panel-card form-card") do |form| %>
  <% if u_perfil.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(u_perfil.errors.count, "erro") %> impediram o salvamento:</h2>
      <ul>
        <% u_perfil.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :descricao %>
      <%= form.text_field :descricao, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", u_perfil_path(@u_perfil), class: "secondary-button" if u_perfil.persisted? %>
    <%= link_to "Cancelar", u_perfis_path, class: "secondary-button" unless u_perfil.persisted? %>
  </div>
<% end %>
