<%= form_with(model: m_ensaio_musica, local: true, class: "panel-card form-card") do |form| %>
  <%= render "shared/form_errors", record: m_ensaio_musica %>

  <div class="form-grid">
    <div class="field-group">
      <%= form.label :m_ensaio_id %>
      <%= form.collection_select :m_ensaio_id, @m_ensaios, :id, :to_s, { include_blank: true }, class: "form-control" %>
    </div>
    <div class="field-group">
      <%= form.label :m_evento_musica_id %>
      <%= form.collection_select :m_evento_musica_id, @m_eventos_musicas, :id, :to_s, { include_blank: true }, class: "form-control" %>
    </div>
    <div class="field-group">
      <label>Entidade</label>
      <div class="form-control form-control--static"><%= current_context_entidade || "Sem entidade vinculada" %></div>
    </div>
    <div class="field-group">
      <%= form.label :observacao %>
      <%= form.text_field :observacao, class: "form-control" %>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit class: "primary-button" %>
    <%= link_to "Cancelar", m_ensaio_musica_path(@m_ensaio_musica), class: "secondary-button" if m_ensaio_musica.persisted? %>
    <%= link_to "Cancelar", m_ensaio_musicas_path, class: "secondary-button" unless m_ensaio_musica.persisted? %>
  </div>
<% end %>
