<div id="<%= dom_id m_ensaio_musica %>">
  <div>
    <strong>M ensaio:</strong>
    <%= m_ensaio_musica.m_ensaio_id %>
  </div>

  <div>
    <strong>M evento musica:</strong>
    <%= m_ensaio_musica.m_evento_musica_id %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= m_ensaio_musica.g_entidade_id %>
  </div>

  <div>
    <strong>Observacao:</strong>
    <%= m_ensaio_musica.observacao %>
  </div>

  <div>
    <strong>Deleted at:</strong>
    <%= m_ensaio_musica.deleted_at %>
  </div>

</div>
