<div id="<%= dom_id g_pessoa %>">
  <div>
    <strong>Nome:</strong>
    <%= g_pessoa.nome %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= g_pessoa.email %>
  </div>

  <div>
    <strong>Cpf:</strong>
    <%= g_pessoa.cpf %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= g_pessoa.g_entidade_id %>
  </div>

  <div>
    <strong>G sexo:</strong>
    <%= g_pessoa.g_sexo_id %>
  </div>

</div>
