<div id="<%= dom_id m_ensaio %>">
  <div>
    <strong>Descricao:</strong>
    <%= m_ensaio.descricao %>
  </div>

  <div>
    <strong>Data inicio:</strong>
    <%= m_ensaio.data_inicio %>
  </div>

  <div>
    <strong>Data fim:</strong>
    <%= m_ensaio.data_fim %>
  </div>

  <div>
    <strong>G predio:</strong>
    <%= m_ensaio.g_predio_id %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= m_ensaio.g_entidade_id %>
  </div>

  <div>
    <strong>Deleted at:</strong>
    <%= m_ensaio.deleted_at %>
  </div>

</div>
