<div id="<%= dom_id g_entidade %>">
  <div>
    <strong>Descricao:</strong>
    <%= g_entidade.descricao %>
  </div>

  <div>
    <strong>G estado:</strong>
    <%= g_entidade.g_estado_id %>
  </div>

  <div>
    <strong>G municipio:</strong>
    <%= g_entidade.g_municipio_id %>
  </div>

  <div>
    <strong>G entidade:</strong>
    <%= g_entidade.g_entidade_id %>
  </div>

</div>
