<% if pagy %>
  <% previous_page = pagy.page > 1 ? pagy.page - 1 : nil %>
  <% next_page = pagy.page < pagy.pages ? pagy.page + 1 : nil %>
  <div class="pagination-bar">
    <div class="pagination-summary">
      <span><%= pagy_summary_text(pagy) %></span>
    </div>
    <div class="pagination-wrap">
      <nav class="pagination-nav" aria-label="Paginação">
        <% if previous_page %>
          <%= link_to "Anterior", url_for(request.query_parameters.merge(page: previous_page)), class: "pagination-nav__link" %>
        <% else %>
          <span class="pagination-nav__link is-disabled" aria-disabled="true">Anterior</span>
        <% end %>

        <span class="pagination-nav__status">
          <strong><%= pagy.page %></strong>
          <span>/</span>
          <span><%= pagy.pages %></span>
        </span>

        <% if next_page %>
          <%= link_to "Próxima", url_for(request.query_parameters.merge(page: next_page)), class: "pagination-nav__link" %>
        <% else %>
          <span class="pagination-nav__link is-disabled" aria-disabled="true">Próxima</span>
        <% end %>
      </nav>
    </div>
  </div>
<% end %>
