<a href="<%= item[:path] || '#' %>" class="nav-item<%= ' nav-item--active' if item[:controller] && item[:controller] == controller_name %>">
  <span class="nav-item__icon"><%= item[:icon] %></span>
  <span><%= item[:label] %></span>
  <% if item[:badge] %><span class="nav-item__badge"><%= item[:badge] %></span><% end %>
</a>
